## Chi-Square Test

The test is applied when you have two categorical variables from a single population. It is used to determine whether there is a significant association between the two variables.

In [1]:
import scipy.stats as stats
import numpy as np
import pandas as pd
import seaborn as sns

C:\Users\yatin.chadha\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\yatin.chadha\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\yatin.chadha\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\yatin.chadha\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
data = sns.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
data.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [5]:
data.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [7]:
ct = pd.crosstab(data.sex,data.smoker)
ct

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [11]:
observed_vals = ct.values
observed_vals

array([[60, 97],
       [33, 54]], dtype=int64)

In [32]:
chi2,p,dof,expected_vals, = stats.chi2_contingency(observed_vals)

In [53]:
p#dof#chi2#expected_val

0.925417020494423

In [21]:
n_rows = len(ct.iloc[:,0])
n_rows

2

In [22]:
n_cols = len(ct.iloc[0,:])
n_cols

2

In [23]:
ddof = (n_cols-1)*(n_rows-1)
ddof

1

In [24]:
alpha = 0.05

In [43]:
from scipy.stats import chi2

In [44]:
chi_square = sum([(o-e)**2/e for o,e in zip(observed_vals,expected_vals)])
chi_square_stat = chi_square[0] + chi_square[1]
chi_square_stat

0.001934818536627623

In [48]:
critical_val = chi2.ppf(q = 1-alpha,df=ddof )
critical_val

3.841458820694124

In [58]:
p_value = 1-chi2.cdf(chi_square_stat,ddof)
p_value

0.964915107315732

In [59]:
if chi_square_stat>=critical_val:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables